body {
    background-color: #f8f9fa;
    color: #333;
}

.container {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: #007bff;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
    color: #666;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures borders are visible */
}

.tabs button {
    margin: 0;
    padding: 10px 20px;
    color: #555;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    outline: none;
}

.tabs button:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

.tabs button.active {
    background-color: #007bff;
    color: #fff;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.tab-content.active {
    display: block;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

textarea,
input[type="text"] {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

@media (max-height: 600px) {
    textarea,
    input[type="text"] {
        padding: 6px;
        font-size: 14px;
    }
}