<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Encrypt/Decrypt your text</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="title">Encrypt/Decrypt your text</h1>
        <h6 class="subtitle">This application uses <a href="https://cryptography.io/en/latest/fernet/" target="_blank" style="color: #007bff; text-decoration: none;">Fernet encryption</a> for securing data which ensures that it cannot be manipulated or read without the key</h6>
        
        <div class="toast" id="toast">
            <div class="toast-body">
                Text has been copied to clipboard!
            </div>
        </div>     
        
        <div class="row">
            <div class="col-sm-12">
                <div class="tabs">
                    <button onclick="openTab(event, 'generateKey')" class=" active">Generate Key</button>
                    <button onclick="openTab(event, 'encryptText')">Encrypt Text</button>
                    <button onclick="openTab(event, 'decryptText')">Decrypt Text</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div id="generateKey" class="tab-content active">
                    <h2>Generate A New Encryption Key</h2>
                    <button onclick="generateKey()" class="btn btn-primary">Generate Key</button>
                    <div style="position: relative;">
                        <input type="text" id="generatedKey" class="form-control mt-3" placeholder="Generated Key" readonly>
                        <span class="copy-icon" onclick="copyText('generatedKey')" title="Copy this text">
                            <img src="{{ url_for('static', filename='copy.svg') }}" alt="Copy"></img>
                        </span>
                    </div>
                </div>

                <div id="encryptText" class="tab-content">
                    <h2>Encrypt Text</h2>
                    <input type="text" id="encryptionKey" class="form-control" placeholder="Enter Encryption Key">
                    <textarea id="encryptionInput" class="form-control mt-3" rows="8" placeholder="Enter text to encrypt"></textarea>
                    <button onclick="encryptText()" class="btn btn-primary mt-3">Encrypt</button>
                    <div style="position: relative;">
                        <textarea id="encryptedOutput" class="form-control mt-3" rows="8" placeholder="Encrypted Text" readonly>Your encrypted text here...</textarea>
                        <span class="copy-icon" onclick="copyText('encryptedOutput')" title="Copy this text" style="position: absolute; top: 5px; right: 5px; cursor: pointer;">
                            <img src="{{ url_for('static', filename='copy.svg') }}" alt="Copy"></img>
                        </span>
                    </div>
                </div>

                <div id="decryptText" class="tab-content">
                    <h2>Decrypt Text</h2>
                    <input type="text" id="decryptionKey" class="form-control" placeholder="Enter Decryption Key">
                    <textarea id="decryptionInput" class="form-control mt-3" rows="8" placeholder="Enter text to decrypt"></textarea>
                    <button onclick="decryptText()" class="btn btn-primary mt-3">Decrypt</button>
                    <div style="position: relative;">
                        <textarea id="decryptedOutput" class="form-control mt-3" rows="8" placeholder="Decrypted Text" readonly>Your decrypted text here...</textarea>
                        <span class="copy-icon" onclick="copyText('decryptedOutput')" title="Copy this text" style="position: absolute; top: 5px; right: 5px; cursor: pointer;">
                            <img src="{{ url_for('static', filename='copy.svg') }}" alt="Copy"></img>
                        </span>
                    </div>                                    
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>
